<div class = "container mt-3">
  <div class = "row d-flex flex-column">
    <h2>会員ID：<%= @member.id %></h2>

    <h4>アカウント作成日時：<%= @member.created_at.strftime("%Y/%m/%d %H:%M") %></h4>

    <h4>最終ログイン日時：
      <% if @member.current_sign_in_at.nil? %>
        <%= "ログイン無し" %>
      <% else %>
        <%= @member.current_sign_in_at.strftime("%Y/%m/%d %H:%M") %>
      <% end %>
    </h4>

      <% if @member.errors.any? %>
        <div class = "alert alert-warning"<%= @member.errors.count %>件のエラーが発生しました。
          <ul>
            <% @member.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  </div>

  <%= form_with model: [:admin,@member], local: true do |f| %>
  
  <div class = "row d-flex justify-content-center">
  
    <table class="field col-7">
      <tbody>
        <tr>
          <th><%= f.label :image, "アイコン", class: "col-form-label my-3" %></th>
          <td><%= f.file_field :image, accept: "image/*", class: "my-3" %></td>
        </tr>

        <tr>
          <th><%= f.label :name, "アカウント名", class: "col-form-label mb-3" %></th>
          <td><%= f.text_field :name, class: "form-control mb-3" %></td>
        </tr>

        <tr>
          <th><%= f.label :introduction, "自己紹介", class: "col-form-label mb-3" %></th>
          <td><%= f.text_area :introduction, rows: 5,class: "form-control mb-3" %></td>
        </tr>

        <tr>
          <th><%= f.label :email, "メールアドレス", class: "col-form-label mb-3" %></th>
          <td><%= f.email_field :email, class: "form-control mb-3" %></td>
        </tr>

        <tr>
          <th><%= f.label :favorite_game, "好きなゲームソフト", class: "col-form-label mb-3" %></th>
          <td><%= f.text_field :favorite_game, class: "form-control mb-3" %></td>
        </tr>

        <tr>
          <th><%= f.label :is_active, "会員ステータス", class: "col-form-label mb-3" %></th>
          <td><%= f.radio_button :is_active, true %>
              <%= f.label :is_active, "有効会員", value:true %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active, "退会会員", value:false %>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class = "text-center">
      <%= f.submit "編集完了", class: "btn btn-success px-4 my-2" %>
    </div>
  <% end %>
</div>