<div class = "container mt-3">

<h2>管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class = "row d-flex justify-content-center">
      <div class="field col-6 mt-4">
        <%= f.label :メールアドレス, class: "col-form-label"  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

        <%= f.label :パスワード, class: "col-form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>

      <div class="actions text-center mt-5">
        <%= f.submit "ログイン", class: " px-4 mb-2 btn btn-lg btn-success" %>
      </div>
  <% end %>

  <div class="text-center mt-5">
    <%= render "admin/shared/links" %>
  </div>
</div>
