<div class = "container mt-3">
  <h2>プロフィール編集フォーム</h2>

    <% if @member.errors.any? %>
      <%= @member.errors.count %>件のエラーが発生しました。
        <ul>
          <% @member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

  <%= form_with model: [:public,@member], local: true do |f| %>
  
  <div class = "row d-flex justify-content-center">
  
    <table class="field col-7">
      <tbody>
        <tr>
          <th><%= f.label :image, "アイコン", class: "col-form-label my-3" %></th>
          <td><%= f.file_field :image, accept: "image/*", class: "my-3" %></yd>
        </tr>

        <tr>
          <th><%= f.label :name, "アカウント名", class: "col-form-label mb-3" %></th>
          <td><%= f.text_field :name, class: "form-control mb-3" %></td>
        </tr>

        <tr>
          <th><%= f.label :introduction, "自己紹介", class: "col-form-label mb-3" %></th>
          <td><%= f.text_area :introduction, rows: 5,class: "form-control mb-3" %></td>
        </tr>

        <tr>
          <th><%= f.label :email, "メールアドレス", class: "col-form-label mb-3" %></th>
          <td><%= f.email_field :email, class: "form-control mb-3" %></td>
        </tr>

        <tr>
          <th><%= f.label :favorite_game, "好きなゲームソフト", class: "col-form-label mb-3" %></th>
          <td><%= f.text_field :favorite_game, class: "form-control mb-3" %></td>
        <tr>
      </tbody>
    </table>
  </div>

  <div class = "text-center">
    <%= link_to "退会する", public_member_withdraw_path(@member), method: :patch, data: {confirm: "本当に退会しますか？"}, class: "btn btn-danger px-4 mr-5 mt-5" %>

    <%= f.submit "更新する", class: "btn btn-success px-4 ml-5 mt-5" %>
  </div>
<% end %>
</div>