<div class ="card my-3 p-3 border-0"> 

  <div class ="d-flex">
    
    <div class ="d-flex flex-column align-items-center mr-3">
      <%= image_tag review.member.image, size: "70x70", class: "rounded-circle" %>
      <div class ="mt-1"><%= review.member.name %></div>
    </div>

    <div class ="d-flex flex-column flex-grow-1">
      
      <div class ="d-flex justify-content-between align-items-start mb-2">
        <div class ="mr-3">
          <%= render "public/reviews/static_rating", review: review %>
          <p class = "mt-3">
            <%= review.title %>
          </p>
          <p class = "mt-3">
            <%= truncate(review.body, length: 40, omission: "......") %>
          </p>
        </div>

        <div class ="mr-2">
          <p>　</p>
          <p class = "mt-3">
            コメント数：<%= review.review_comments.count %>
          </p>
          <p class = "mt-3">
            投稿日：<%= review.created_at.strftime("%Y/%m/%d %H:%M") %>
          </p>
        </div>
        
        <div class ="mt-4">
          <%= link_to "この投稿を確認する>>>>>", public_review_path(review) %>
        </div>
      </div>
      
    </div>
  </div>
</div>