
  <table class = "table table-hover text-left">
    <tr>
      <td><%= image_tag review.member.image, size:"70x70" %></td>
      <td><%= review.member.name %></td>
      <td><%= review.title %></td>
      <td><%= truncate(review.body, length: 20, omission: "......") %></td>
      <td><%= link_to "この投稿を確認する>>>>>", public_review_path(review) %></td>
    </tr>
  </table>