<h1>新規投稿</h1>

  <% if @review.errors.any? %>
    <%= @review.errors.count %>件のエラーが発生しました。
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= form_with model: @review, url: public_reviews_path, local: true do |f| %>

    <%= render 'form', review: @review, f: f %>

    <%= f.submit "新規投稿" %>
  <% end %>
