<div class = "container mt-3">
  <h2>新規レビュー投稿フォーム</h2>

  <% if @review.errors.any? %>
    <%= @review.errors.count %>件のエラーが発生しました。
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= form_with model: @review, url: public_reviews_path, local: true do |f| %>

    <%= render 'form', review: @review, f: f %>
  <div class = "text-center">
    <%= f.submit "新規投稿", class: "btn btn-primary px-5 mt-5" %>
  <% end %>
</div>
