<div class = "container mt-4">
  <div class = "row">

    <div class = "col-3 text-center">
      <%= link_to public_member_path(@member) do %>
        <%= image_tag @member.image, size:"200x200" %>
      <% end %>
    </div>
  
    <div class = "col-9">
      <table>
        <tbody>
          <tr>
            <th>ゲームタイトル：</th>
            <td class = "text-break"><%= @review.title %></td>
          </tr>

          <tr>
            <th>ゲームジャンル：</th>
            <td class = "text-break"><%= @review.genre.name %></td>
          </tr>

          <tr>
            <th>感想：</th>
            <td class = "text-break"><%= @review.body %><td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

    <div class = "text-center mt-4">
      <% if @review.member == current_member %>
        <%= link_to "レビュー編集", edit_public_review_path(@review), class: "btn btn-success px-4" %>
      <% end %>
    </div>

  
    <div class = "border-bottom mt-3">
      <h4>コメント　<%= @review.review_comments.count %>件
      <%= flash.now[:alert] %>
      </h4>
    </div>

  <div class = "row d-flex justify-content-between">

    <div class = "col-12 col-sm-6">
      <div class="field col-10 mt-4">
        <%= form_with model: [:public,@review,@review_comment], local: true do |f| %>
          <%= f.text_area :body, row: 3, class: "form-control" %>
          <%= f.submit "コメントする", class: "btn btn-primary my-3 px-3" %>
        <% end %>
      </div>
    </div>

    <div class = "col-12 col-sm-6">
      <% @review.review_comments.each do |review_comment| %>
        <div class ="card my-3 p-3 border-0"> 
          <div class ="d-flex">

            <div class ="d-flex flex-column align-items-center mr-3">
              <%= link_to public_member_path(review_comment.member) do %>
                <%= image_tag review_comment.member.image, size:"50x50", class: "rounded-circle" %>
              <% end %>
              <%= review_comment.member.name %>
            </div>
            
            <div class = "text-break">
              <%= review_comment.body %>
            </div>
          </div>

            <% if current_member == review_comment.member %>
              <%= link_to "コメント削除", public_review_review_comment_path(review_comment.review, review_comment),
              method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger col-3" %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
