<div class = "container">

  <div class = "my-3">
    <%= render "public/searches/genre_search_form", review: @review %>
  </div>
  <div class = "row">

    <div class = "col-3 text-center">
      <%= link_to public_member_path(@member) do %>
        <%= image_tag @member.image, size:"200x200" %>
      <% end %>
    </div>
  
    <div class = "col-9">
      <table>
        <tbody>
          <tr>
            <th>評価：</th>
            <td><%= render "public/reviews/static_rating", review: @review %></td>
          </tr>

          <tr>
            <th>ゲームタイトル：</th>
            <td class = "text-break"><%= @review.title %></td>
          </tr>

          <tr>
            <th>ゲームジャンル：</th>
            <td class = "text-break"><%= @review.genre.name %></td>
          </tr>

          <tr>
            <th>感想：</th>
            <td class = "text-break"><%= @review.body %><td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

    <div class = "text-center mt-4">
      <% if @review.member == current_member %>
        <%= link_to "レビュー編集", edit_public_review_path(@review), class: "btn btn-success px-4" %>
      <% end %>
    </div>

  
    <div class = "border-bottom mt-3">
      <h4 id= "review-comments-counter"><%= render "public/review_comments/counter", review: @review, review_comment: @review_comment %></h4>
      
      <h4 id= "comments-error"><%= render "public/review_comments/error_messages", review_comment: @review_comment %></h4>
    </div>

  <div class = "row d-flex justify-content-between">

    <div class = "col-12 col-sm-6">
      <div class="field col-10 mt-4">
        <%= render "public/review_comments/form", review: @review, review_comment: @review_comment %>
      </div>
    </div>

    <div class = 'col-12 col-sm-6'>
      <div id= 'review-comments-index'>
        <%= render "public/review_comments/index", review: @review %>
      </div>
    </div>
  </div>
</div>
