<div>
  <%= link_to public_member_path(@member) do %>
    <%= image_tag @member.image, size:"300x300" %>
  <% end %>
  
  <%= @review.title %>
  <%= @review.body %>

  <% if @review.member == current_member %>
    <%= link_to "レビュー編集", edit_public_review_path(@review) %>
  <% end %>
</div>
