<div class = "container mt-4">
  <div class = "row">

    <div class = "col-3 text-center">
      <%= link_to public_member_path(@member) do %>
        <%= image_tag @member.image, size:"200x200" %>
      <% end %>
    </div>
  
    <div class = "col-9">
      <table>
        <tbody>
          <tr>
            <th>ゲームタイトル：</th>
            <td class = "text-break"><%= @review.title %></td>
          </tr>

          <tr>
            <th>ゲームジャンル：</th>
            <td class = "text-break"><%= @review.genre.name %></td>
          </tr>

          <tr>
            <th>感想：</th>
            <td class = "text-break"><%= @review.body %><td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

    <div class = "text-center mt-4">
      <% if @review.member == current_member %>
        <%= link_to "レビュー編集", edit_public_review_path(@review), class: "btn btn-success px-4" %>
      <% end %>
    </div>

    <div class = "border-top mt-3">

      <%= flash[:alert] %>

      <%= form_with model: [:public,@review,@review_comment], local: true do |f| %>
        <%= f.text_area :body, row: 3 %>
        <%= f.submit "コメントする" %>
      <% end %>

      <% @review.review_comments.each do |review_comment| %>
        <%= link_to public_member_path(review_comment.member) do %>
          <%= image_tag review_comment.member.image, size:"50x50" %>
        <% end %>

        <%= review_comment.member.name %>
        <%= review_comment.body %>

        <% if current_member == review_comment.member %>
          <%= link_to "コメント削除", public_review_review_comment_path(review_comment.review, review_comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
        <% end %>
      <% end %>
    </div>
</div>
